@charset "utf-8";
/* ------------------ */
/* base */
/* ------------------ */
html {
  font-size: 62.5%;
}

body {
  color: #464646;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif, "Noto Sans JP", sans-serif;
}

.scroll {
  overflow: hidden;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

/* ------------------ */
/* header */
/* ------------------ */
header{
  color: #fff;
  background-color: #FCBEE0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  height: 5rem;
  padding: 1.5rem;
  /* width: 100rem; */

}

main{
  background-color: #FCBEE0;
  padding-bottom: 10rem;
}

.wapper{
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
}

section{
  width: 80%;
  margin: 0 auto;
  padding: 3rem ;
}

button{
  width: 35rem;
  height: 6rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background-color: #FF028C;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
}

button a::after{
  display: block;
    content: "";
    position: absolute;
    top: 40%;
    right: 2rem;
    width: 0;
    height: 0;
    margin-top: -5px;
    border:  10px solid transparent;        /*top right bottom を透明化 */
    border-left: 10px solid #fff;
}

button:hover{
  opacity: 0.5;
}

/* ------------------ */
/* FV */
/* ------------------ */
.fv_pc{ display: block !important; }
.fv_sp { display: none !important; }

/* ------------------ */
/* title */
/* ------------------ */

.title{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.title img{
  width:5rem;
  height: 5rem;
}

.title p {
  color: #FF028C;
  font-size: 4rem;
  font-weight: bold;
  margin: 0 2rem;
}

/* ------------------ */
/* section__campaign */
/* ------------------ */

.section__campaign{
  position: relative;
  width: 80%;
  height: 38rem;
  background-color: #FFF3F9;
  border: solid;
  border-color:  #FF028C;
}

.section__campaign_title{
  width: 70%;
  color: #fff;
  background-color: #FF028C;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: -8%;
  left: 17%;
}

.section__campaign img {
  position: absolute;
  width: 40rem;
  height: 24rem;
  top: 20%;
}

.section__campaign_box{
  position: absolute;
  top: 18%;
  left: 55%;
}
.section__campaign_name{
  color: #FF028C;
  font-size: 4rem;
  font-weight: bold;
}

.section__campaign_p{
  color:#FF028C;
  font-size: 2rem;
}

.section__campaign button {
  position: absolute;
  top: 73%;
  left: 54%;
}

/* ------------------ */
/* section__ranking */
/* ------------------ */
.section__ranking{
  position: relative;
  width: 80%;
  height: 120rem;
  border: solid;
  border-color: #FFB2DC;
  margin-top: 5rem;
  border-radius: 0.5rem;
}

.section__ranking_title img{
  width: 18%;
  height: 9.4rem;
  position: absolute;
  top: -0.8%;
  left: -0.8%;
  z-index: 2;
}

.section__ranking_title p {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  background-color: #FFB2DC;
  width: 100.5%;
  height: 6rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  position: absolute;
  top: 0%;
  left: -0.3%;
  z-index: 1;
}

.section__ranking_rogo{
  width: 33%;
  height: 25rem;
  position: absolute;
  top: 10%;
  left: 5%;
}

.section__ranking_star{
  width: 43%;
  height: 35rem;
  position: absolute;
  top: 10%;
  left: 50%;
}

.section__ranking_text{
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 1.8rem;
}

#section__ranking_text{
  top: 38%;
}

.section__ranking_text span{
  color: #FF028C;
  font-weight: bold;
}

.section__ranking_recommended{
  color: #FF028C;
  font-weight: bold;
  text-align: center;
  background-color:  #FFF3F9;
  width: 88.27%;
  height: 4rem;
  border: solid;
  border-width: 0.15rem;
  border-color: #FF028C;
  position: absolute;
  top: 65%;
  left: 5%;
  padding-top: 0.5rem;
}

.section__ranking_point{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 68%;
  left: 5%;
}

.section__ranking_point img{
  width: 20rem;
  height: 9rem;
}


.section__ranking_img{
  width: 90%;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 78%;
  left: 5%;
}

.section__ranking_img img{
  width: 20rem;
  height: 15rem;
}

.section__ranking button{
  position: absolute;
  top: 93%;
  left: 30%;
}



/* ------------------ */
/* section__king */
/* ------------------ */
.section__king{
  display: flex;
}

.section__king img{
  width: 35rem;
  height: 35rem;
}

.section__king p{
  color: #FF028C;
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 0;
}

/* ------------------ */
/* footer */
/* ------------------ */
.footer__top{
  color:#0080D4;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  height: 5rem;
  padding: 1.5rem;
}

.footer__nav{
  background-color: #FFB2DC;
  height: 5rem;
  padding: 1.5rem;
}

.footer__nav ul{
  display: flex;
  justify-content: center;
}

.footer__nav li {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.footer__bottom{
  color: #fff;
  background-color: #FF028C;
  text-align: center;
  height: 5rem;
  padding: 1.5rem;

}

@media screen and (max-width: 768px) {
/* ------------------ */
/* sp_fv */
/* ------------------ */
.fv_pc{ display: none !important; }
.fv_sp { display: block !important; }


  button{
    width: 30rem;
    height: 4rem;
    font-size: 1.8rem;
  }
  
  .wapper{
    width: 100%;
    overflow: hidden;
  }

  section{
    width: 90%;
    margin: 0 auto;
  }

  .title{
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .title img{
    width:3rem;
    height: 3rem;
  }

  .title p {
    font-size: 2rem;
  }

/* ------------------ */
/* sp_section__campaign */
/* ------------------ */
  
  .section__campaign{
    width: 95%;
  }
  
  .section__campaign_title{
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .section__campaign img {
    width: 30rem;
    height: 18rem;
    top: 7%;
  }
  
  .section__campaign_box{
    top: 57%;
    left: 10%;
  }

  .section__campaign_name{
    font-size: 1.9rem;
  }
  
  .section__campaign_p{
    font-size: 1.2rem;
  }
  
  .section__campaign button {
    top: 86%;
    left: 8%;
  }

/* ------------------ */
/* sp_section__ranking */
/* ------------------ */
  
  .section__ranking{
    width: 95%;
    height: 100rem;
  }
  
  .section__ranking_title img{
    width: 25%;
    height: 6rem;
    top: -0.55%;
    left: -1.4%;
  }
  
  .section__ranking_title p {
    font-size: 2.2rem;
    width: 101%;
    height: 4.5rem;
    padding-top: 0.5rem;
    top: -0.3%;
    left: -0.3%;
  }
  
  .section__ranking_rogo{
    width: 40%;
    top: 6%;
    left: 3%;
  }
  
  .section__ranking_star{
    width: 50%;
    height: 45rem;
    top: 8%;
    left: 48%;
  }
  
  .section__ranking_text{
    top: 18%;
    left: 3%;
    font-size: 1.2rem;
  }

  #section__ranking_text{
    top: 22%;
  }

  .section__ranking_recommended{
    width: 91.5%;
    height: 4rem;
    top: 51%;
    left: 5%;
    font-size: 1.3rem;
  }
  
  .section__ranking_point{
    width: 93%;
    flex-wrap: wrap;
    top: 55%;
    left: 5%;
  }
  
  .section__ranking_point img{
    width: 16rem;
    height: 8rem;
  }
  
  .section__ranking_img{
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    top: 73%;
    left: 5%;
  }

  .section__ranking_img img{
    width: 16rem;
    height: 10rem;
  }

  .section__ranking button{
    position: absolute;
    top: 95%;
    left: 7%;
  }

/* ------------------ */
/* sp_section__king */
/* ------------------ */

.section__king{
  width: 37rem;
}
  
  .section__king img{
    width: 16rem;
    height: 18rem;
  }

  .section__king p{
    font-size: 1rem;
    padding: 1rem;
  }

  main{
    /* background-color: #FCBEE0; */
    padding-bottom: 0rem;
  }

}